{% extends "site_base.html" %}
{% load staticfiles %}
{% load qa_tags %}
{% load listable %}

{% block page_style %}
    {% listable_css %}
{% endblock page_style %}


{% block head_title %}{{page_title}}{% endblock %}

{% block body %}

    <div class="row-fluid">
        <div class="span6">
            <h2>{{page_title}}</h2>
        </div>
        <div class="span6">
            {% if action =  "perform" %}
                <a class="pull-right" href="{% url "choose_unit" %}" title="return to unit selection">&larr; Back to Unit Selection Page</a>
            {% else %}
                <a class="pull-right" href="{% url "choose_review_unit" %}" title="return to unit selection">&larr; Back to Unit Review Selection Page</a>
            {% endif %}
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            {{ listable_table }}
        </div>
    </div>


{% endblock body %}

{% block end_body_extra_script %}
    {% listable view_name dom='<"row-fluid"<"span6"ir><"span6"p>>t<"row-fluid"<"span12"lp>>' pagination_type='bootstrap2' css_input_class="input-small" css_table_class="table-striped" %}
{% endblock end_body_extra_script %}
