{% extends "registration/base.html" %}

{% load i18n %}

{% block head_title %}Account Details for {{user.username}}{% endblock %}

{% block body %}
{% if user.is_anonymous %}
    <h1>Account Details</h1>
    <em><a href="{% url "auth_login" %}">Log in</a> to see your account details</em>
{% else %}
<h1>{% trans "Account Details for " %}{% if user.get_full_name %}{{user.get_full_name}}{% else %} {{user.username}}{% endif %}</h1>

    <dl class="dl-horizontal">
        <dt>Username:</dt>
        <dd>{{user.username}}</dt>
        <dt>Email:</dt>
        <dd>{% if user.email %}{{user.email}}{% else %}<em>N/A</em>{% endif %}</dt>
        <dt>Registered:</dt>
        <dd>{{user.date_joined}}</dt>
        <dt>Last Login:</dt>
        <dd>{{user.last_login}}</dt>
        <dt>Groups</dt>
        <dd>
            <ul>
                {% for group in user.groups.all %}
                <li>{{group.name}}</li>
                {% endfor %}
            </ul>
        </dd>
    </dl>
    <h3>User Permissions</h3>

    <ul class="unstyled">
        <li>
            {% if user.is_staff %}
                <i class="text-success icon-large icon-ok-sign"></i>
            {% else %}
                <i class="text-error icon-large icon-minus-sign"></i>
            {% endif %}
            <strong>Can Access Admin</strong>
            <em>User can access admin interface for defining tests</em>
        </li>
        <li>
            {% if user.is_superuser %}
                <i class="text-success icon-large icon-ok-sign"></i>
            {% else %}
                <i class="text-error icon-large icon-minus-sign"></i>
            {% endif %}
            <strong>Super User</strong>
            <em>User has all permissions implicitly</em>
        </li>
    </ul>
    {% for cat, user_perms in permissions %}
        <h4>{{cat}} Permissions</h4>
        <ul class="unstyled">
            {% for has_perm, ptitle, desc in user_perms %}
            <li>
                {% if has_perm or user.is_superuser %}
                    <i class="text-success icon-large icon-ok-sign"></i>
                {% else %}
                    <i class="text-error icon-large icon-minus-sign"></i>
                {% endif %}
                <strong>{{ptitle}}</strong>
                <em>{{desc}}</em>
            </li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endif %}
{% endblock %}
